html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary {
  margin: 0;
  /*padding: 0;*/
  /*border: 0;*/
  font-size: 100%;
  /*font: inherit;*/
  /*vertical-align: baseline;*/
}

table {
  border-collapse: collapse;
}

body {
  background-color: black;
  color: #D0C4A0;
}

.title {
  font-size: 21px;
  padding-bottom: 5px;
  border-bottom: 1px solid black;

  margin-top: 60px;
  margin-bottom: 10px;
}

.description {
  font-size: 14px;
  font-weight: 400;

  margin-bottom: 10px;
}

.Cover {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  color: white;
  cursor: pointer;
}

.Cover__button {
  margin-left: auto;
  margin-right: auto;

  margin-top: 10vh;
  padding: 15px;
  text-align: center;
  /*border: 2px solid white;*/
}

.Cover__button-text {
  font-size: 30px;
}

.hide {
  display: none;
}

.App__container {
  margin-top: 5vh;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  width: 250px;
}

.Clock {
  font-size: 30px;
}

.Clock__text {
  font-weight: 600;
}

.BellSchedule table {
  margin-left: auto;
  margin-right: auto;
  width: 200px;
}

.BellSchedule thead th {
  font-weight: 800;
  padding-top: 10px;
  padding-bottom: 10px;
}

.BellSchedule tbody th {
  font-weight: 400;
  padding-top: 5px;
  padding-bottom: 5px;
}

.BellSchedule th {
  border: 1px solid gray;
}


/*.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
*/
